* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.button-container {
    position: absolute;
    display: flex;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0,0,0,0.8);
}

button {
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: white;
    font-size: 100px;
    color: black;
    border-radius: 10px;
}

.teleprompter {
    padding-top: 20vw;
    padding-bottom: 20vw;
    display: none;
}

.question {
    font-size: 50px;
    font-style: italic;
    color: white;
}

.answer {
    font-size: 70px;
    font-weight: 700;
    color: white;
}